<div class='uber-intro'>
    <div class='uber-content'>
        <p><span class='uber-intro__drop-cap'><span class='uber-intro__drop-inner'>U</span></span>ber has always driven too fast. As it grew from a San Francisco black car service to a global ride-hail behemoth valued at nearly $70bn, the startup appeared to be well served by CEO Travis Kalanick’s disruptive disregard for the rules of the road.</p>

        <p>But the unending scandals, missteps, and criminal investigations of the past year have revealed that the leadership behind the wheel at Uber are not so much Dom Torretto from The Fast and the Furious as they are a drunken toddler playing Mario Kart.</p>

        <p>Take a ride with us through Uber’s tumultuous 2017, but warning: it’s going to be a rocky ride.</p>
    </div>
</div>
