<ul class='uber-timeline'>
    <div class='gs-container'>
    {{#each events}}
        <li class='uber-timeline__event' data-date='{{ date }}' data-month='{{ month }}'>
            <div class='uber-content'>
                <div class='uber-timeline__day'>
                    <div class='uber-timeline__date-block'>
                        <span class='uber-timeline__date'>{{ date }}</span>
                    </div>
                    <span class='uber-timeline__month'>{{ month }} 2017</span>
                </div>

                {{#if image}}
                    <img src='{{ getImage image 1000 }}' class='uber-timeline__image' />
                    <p class='uber-timeline__image-caption'>Source: {{ source }}</p>
                {{/if}}

                {{{ marked copy }}}
            </div>
        </li>
    {{/each}}
    </div>
</ul>
