.uber {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;

    .l-side-margins {
        height: 100%;
    }
}

.uber__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.uber__progress {
    background-color: lighten($c-blue, 25%);
    height: 48px;

    @include mq(tablet) {
        height: 92px;
    }
}

.uber__questions {
    background-color: $c-blue;
    height: 20%;
    flex: 1 0 auto;

    @include mq(desktop) {
        height: 30%;
    }
}

.uber__answers {
    background-color: darken($c-blue, 5%);
    height: 50%;
    flex: 1 0 auto;
}

.uber__headline {
    display: none;
    font-size: 42px;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    line-height: 1;
    margin-top: 4px;
    margin-bottom: 8px;
    color: $c-white;

    @include mq(mobileLandscape) {
        font-size: 52px;
    }

    @include mq(tablet) {
        font-size: 68px;
    }

    @include mq(desktop) {
        font-size: 80px;
        max-width: 680px;
    }

    @include mq(leftCol) {
        font-size: 100px;
    }
}

.uber__standfirst,
.uber__end-text {
    display: none;
    font-family: 'Guardian Egyptian Web';
    font-weight: 900;
    font-size: 16px;
    line-height: 1.1;
    color: $c-black;

    @include mq(380px) {
        font-size: 18px;
    }

    @include mq(mobileLandscape) {
        font-size: 22px;
    }

    @include mq(tablet) {
        font-size: 28px;
    }

    @include mq(desktop) {
        font-size: 32px;
    }
}

.uber__end-text {
    margin: 12px 0;
}

.uber__start-button {
    display: none;
    position: absolute;
    top: -30px;
    left: 10px;
    background-color: $c-white;
    width: 48px;
    height: 48px;
    border-radius: 30px;

    @include mq(mobileLandscape) {
        left: 20px;
        width: 60px;
        height: 60px;
    }

    &:hover {
        background-color: lighten($c-blue, 25%);
        cursor: pointer;
    }
}

.uber__start-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    margin: auto;

    @include mq(mobileLandscape) {
        width: 44px;
    }
}

.uber--first {
    .uber__headline,
    .uber__standfirst,
    .uber__start-button {
        display: block;
    }

    .uber__progress-pip {
        transform: scale(0);
    }

    .uber__caption {
        opacity: 1;
    }
}

.uber--end {
    .uber__end-text {
        display: block;
    }

    .uber__caption {
        opacity: 1;
    }
}

.uber__trumps {
    position: absolute;
    top: 0;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
}

.uber__trump {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: 30vh;
    left: -999px;
    right: -999px;
    margin: auto;
    width: auto;
    height: 70vh;
    transition: transform 0.2s ease-out;
    transform: translateY(100%);

    @include mq(desktop) {
        left: 0;
        right: -360px;
        top: 20vh;
        height: 80vh;
    }

    &.is-visible {
        transform: translateY(0);
    }

    &.is-a {
        width: 80vw;
        bottom: 0;
        top: auto;
        right: -10vw;
        left: auto;
        height: auto;
        max-width: 550px;
        transition-delay: 0.2s;

        @include mq(desktop) {
            left: 400px;
            right: auto;
        }
    }

    &.is-b {
        width: 80vw;
        bottom: 0;
        top: auto;
        left: 0;
        right: auto;
        height: auto;
        max-width: 550px;
        transition-delay: 0.2s;
    }
}

.uber__trump--pointing {
    &.is-a,
    &.is-b {
        margin-left: -4vh;
    }
}

.uber__caption {
    position: fixed;
    z-index: 1020;
    bottom: 4px;
    left: 0;
    right: 0;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    color: $c-white;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.uber__audio {
    height: 0px;
    width: 0px;
}

.uber__mute {
    position: fixed;
    z-index: 1020;
    bottom: 4px;
    left: 0;
    right: 0;
}

.uber__mute-button {
    position: absolute;
    right: 10px;
    bottom: 4px;
    background-color: $c-white;
    width: 48px;
    height: 48px;
    border-radius: 30px;

    @include mq(mobileLandscape) {
        right: 20px;
        width: 60px;
        height: 60px;
        bottom: 6px;
    }

    @include mq(desktop) {
        bottom: 12px;
    }

    &:hover {
        background-color: lighten($c-blue, 25%);
        cursor: pointer;
    }
}

.uber__mute-icon,
.uber__on-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    margin: auto;
}

.uber__mute-icon {
    display: none;

    .is-muted & {
        display: block;
    }
}

.is-muted {
    .uber__on-icon {
        display: none;
    }
}
