.uber-timeline {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 46px;
}

.uber-timeline__event {
    position: relative;
    margin-bottom: 62px;

    .uber-content {
        position: relative;
    }

    .uber-content:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: -12px;
        left: 0;
        width: 120px;
        height: 2px;
        background-color: rgba($c-black, 0.2);
    }
}

.uber-timeline__pip {
    position: absolute;
    left: -40px;
    top: -12px;
    background-color: $c-blue;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;

    &:before {
        content: '';
        position: absolute;
        width: 38px;
        height: 38px;
        left: -15px;
        top: -15px;
        border-radius: 50%;
        background-color: rgba($c-blue, 0.2);
    }
}

.uber-timeline__day {
    position: absolute;
    z-index: 5;
    top: 0;
    font-family: 'Guardian Text Sans Web';
    font-size: 16px;
    color: $c-black;

    @include mq(leftCol) {
        margin-left: 140px;
    }

    @include mq(wide) {
        margin-left: 220px;
    }

    &.is-fixed {
        position: fixed;
        top: 6px;
    }
}

.uber-timeline__date-block {
    color: $c-white;
    background-color: $c-black;
    width: 36px;
    height: 36px;
    position: relative;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -16px;
        width: 0px;
        height: 0px;
        border: 8px transparent solid;
        border-right-color: $c-black;
    }
}

.uber-timeline__date {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    text-align: center;
}

.uber-timeline__month {
    width: 200px;
    height: 36px;
    padding: 6px 10px;
    margin-left: -4px;
    box-sizing: border-box;
    background-color: $c-white;
    display: inline-block;
    vertical-align: top;
}