.uber-timeline {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.uber-timeline__event {
    position: relative;
    margin-bottom: 62px;

    .uber-content {
        position: relative;

        @include mq($until: leftCol) {
            margin-left: 50px;
        }
    }

    p {
        margin-top: 3px;
        margin-bottom: 18px;
    }

    a {
        color: $c-black;
        border-bottom: 1px solid $c-blue;
        text-decoration: none;

        &:hover {
            color: $c-blue;
        }
    }
}

.uber-timeline__image {
    width: 100%;
    margin-top: 12px;
}

.uber-timeline__image-caption {
    font-family: 'Guardian Text Sans Web';
    font-size: 16px;
    color: lighten($c-black, 30%);
}

.uber-timeline__day {
    font-family: 'Guardian Text Sans Web';
    font-size: 16px;
    color: $c-black;
}

.uber-timeline__date-block {
    color: $c-white;
    background-color: $c-black;
    width: 36px;
    height: 36px;
    position: relative;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -16px;
        width: 0px;
        height: 0px;
        border: 8px transparent solid;
        border-right-color: $c-black;
    }
}

.uber-timeline__date {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    text-align: center;
}

.uber-timeline__month {
    width: 160px;
    height: 36px;
    padding: 6px 10px;
    margin-left: -4px;
    box-sizing: border-box;
    background-color: $c-white;
    display: inline-block;
    vertical-align: top;
}